.navbar {
  width: 100%;
  position: relative;
  transition: background-color 0.3s ease;
}

.navLinks {
  display: flex;
  align-items: center;
}

.socialLinks {
  display: flex;
  align-items: center;
}

