.navbar {
  width: 100%;
  height: 137px;
  background-color: rgb(15, 22, 36);
  position: relative;
}

.navbarContainer {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.socialLinks {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .navbarContainer {
    padding: 0 1rem;
  }

  .navLinks {
    gap: 1.5rem;
  }

  .socialLinks {
    gap: 1rem;
  }
}

